@CHARSET "ISO-8859-1";
#li11 {
    float: left;
    border-right:1px solid #bbb;
}


#li11 a {
    display: block;
    background-color:#262626;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#li11 a:hover:not(.active) {
    background-color:  #4d4d4d;
    color:black;
}

#li11 a.hover:(.active) {
    background-color:  #e6e6e6;
    color:black;
}
.active {
    background-color: #f2f2f2;
}
#li11 a.hover:(.visited){
	background-color:  #e6e6e6;
    color:black;
}
#formDiv{
	background-color: #e6e6e6;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	
}
